<module>
	<rawname>apicall</rawname>
	<repo>unsupported</repo>
	<name>API Call</name>
	<version>0.0.1</version>
	<category>Applications</category>
	<menuitems>
    		<apicall>API Calls</apicall>
  	</menuitems>
	<Publisher>Stefano Fancello</Publisher>
	<description>Make call from API</description>
	<changelog></changelog>
	<info></info>
	<licence>GPL</licence>
	<licenselink>http://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
	<depends>
		<version>14.0.0</version>
	</depends>
	<supported>14.0.0</supported>
</module>
